* {
  margin: 0;
}

/*

De cada grupo de elementos, el que ocupe
la 3ra posición, será afectado

elemento:nth-child(3)
*/

tr:nth-child(3) {
  background-color: #eee;
}

/*odd IMPART*/

tbody tr:nth-child(odd) {
  background-color: #ccc;
}

/*even PAR*/

tbody tr:nth-child(even) {
  background-color: #aaa;
}

/*la tercera columna de los grupos de "td" y "th"*/

td:nth-child(3),
th:nth-child(3) {
  background-color: pink;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/*Cómo quitar el margen entre celdas a una tabla*/

table {
  border-collapse: collapse;
}

thead tr:first-child {
  background-color: coral;
}

thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

thead tr:first-child th:last-child {
  /*TODO: Compatibildad con Mozilla*/
  border-radius: 0 10px 0 0;
  border-top-right-radius: 10px;
}

nav li {
  display: inline-block;
  background-color: #c00;
  border-radius: 10%;
}

nav li:hover {
  background-color: rgb(10, 133, 30);
}

.nav-link {
  text-decoration: none;
  height: 500px;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  /*color: #444;*/
  padding: 10px;
  border-radius: 6px;
  font-family: "miPrimeraFuente";
}

/*Todos los elementos que tengan la clase "nav-link" pero que además
tengan la clase "active"*/

.nav-link.active {
  font-style: italic;
}

/*Todos los elementos "p" que sean hermanos de un "h2"*/

h2 ~ p {
  color: orange;
}

/*El primer hermano "p" de un "h3"*/

h3 + p {
  color: aquamarine;
}

/*
Todos los elementos "article" excepto aquellos
que tengan la clase "agotado"
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

article:not(.agotado) {
  width: 300px;
  box-shadow: 0px 0px 8px #888;
  font-family: ''Roboto', sans-serif';

background: linear-gradient(#e1f091, #09b7ec);

}

/*
Todos los hijos de "article" excepto los "h4"
*/

article :not(h4) {
  font-style: italic;
}

.nav {
  background-color: #c00;
}

.btn_iniciar_session {
  margin-top: 30px;
  font-family: "Teko";
  background: linear-gradient();
  border: none;
  color: #fff;
}
.quinta_imagen{
  filter: invert(1)
}


.septima_imagen{
  filter: hue-rotate(270deg)
}