/*
De cada grupo de elementos, el que ocupe
la 3ra posición, será afectado

elemento:nth-child(3)

*/

tr:nth-child(3){
    background-color:#eee;
}

/*odd IMPAR*/
tbody tr:nth-child(odd){
    background-color:#ccc;
}

/*even PAR*/
tr:nth-child(even){
    background-color:#aaa;
}


/*cómo quitar el margen entre celdas a una tabla */

table{
    border-collapse: collapse;
}

thead tr:first-child{
    background-color: coral;
}

thead tr:first-child th:first-child{
    border-top-left-radius: 10px;
}


thead tr:first-child th:last-child{
    -moz-berder-radius-topright: 10px;
    border-top-right-radius: 10px;
}


nav li{
    display:inline-block;
}

.nav-link{
    text-decoration: none;
    font-family: sans-serif;
    margin-right: 10px;
    color: #444;
}

.nav-link.active{
    font-style: italic;
    
}